.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


header .bg-gradient {
  background: rgb(216,216,216);
 
}

body {
  background: url(./BG.png);
  background-size: cover;
}

header .navbar  {
  padding: 20px 0 0;
}

header .navbar-brand {
  padding: 0;
  z-index: 1;
  width: 213px;
  height: 109px;
  background-color: #1A4B84;
}

header .navbar-brand img {
  width: 120px;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

img {
  max-width: 80%;
}

header h3 {
  font: normal normal 600 18px/27px Oswald;
  color: #fff;
}

header h4 {
  font: normal normal 600 18px/28px Oswald;
  letter-spacing: 0.36px;
  color: #191919;
  text-transform: uppercase;
}

header p {
  font: 600 12px/15px Poppins;
  letter-spacing: 0.24px;
  color: #191919;
}

.ReactTitle {
  background-color: #838383 ;
  height: 50px;
  width: 1082px;
  font: normal normal 600 19px/27px Oswald;
letter-spacing: 0.38px;
color: #FFFFFF;
text-transform: uppercase;
}

.ReactTitle img {
  width: 40px;
  margin-right: 10px;
}


.link {
  background-color: rgba(0,0,0,0.09);
  font: normal normal medium 12px/15px Poppins;
  letter-spacing: 0.24px;
  height: 40px;
  padding: 10px 10px;
  
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12p
}

.form-select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
}

.link a {
  color: #055BA6;
 
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 150%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 280px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer-dark {
  background-color: #1A4B84;
  color: #fff;
}

.toggle-currency{
  font-size: 20px;
}

footer {
  font: normal normal 600 12px/19px Oswald;
letter-spacing: 0.24px;
color: #FFFFFF;
}